<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% load static %}
      <!--=============== FAVICON ===============-->
      <link rel="shortcut icon" href="{% static 'img/lgoMedi.png' %}" type="image/x-icon">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">

      <!--=============== SWIPER CSS ===============-->
      <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="{% static 'css/styles.css' %}?v={{ STATIC_VERSION }}">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

      <title>Choco HypeWear</title>
   </head>
   <body>
      <!--==================== HEADER ====================-->
      <header class="header shadow-header" id="header">
         <nav class="nav container">
            <a href="#" class="nav__logo">
               <img src="{% static 'img/logos.png' %}" alt="image">
            </a>

            <div class="nav__menu" id="nav-menu">
               <!-- Search bar for phones-->
               <div class="nav__search-mobile">
                  <form action="{% url 'search_products' %}" method="get">
                     <input type="text" name="q" class="nav__search-input" placeholder="Search for shoes or brands..." value="{{ query|default:'' }}" required>
                        <button class="nav__search-button" type="submit">
                        <i class="ri-search-line"></i>
                        </button>
                     </form>
                </div>
            
   
               <!--Close buttom-->
               <div class="nav__close" id="nav-close">
                  <i class="ri-close-line"></i>
               </div>
            </div>

            <!-- Search Bar -->
             <div class="nav__search">
               <form action="{% url 'search_products' %}" method="get">
                  <input type="text" name="q" class="nav__search-input" placeholder="Search for shoes or brands..." value="{{ query|default:'' }}" required>
                     <button class="nav__search-button" type="submit">
                     <i class="ri-search-line"></i>
                     </button>
                  </form>
             </div>

             <div class="nav__cart">
               <a href="{% url 'cart_view' %}">
                   <i class="ri-shopping-cart-line"></i>
               </a>
           </div>
               <!--Toggle buttom-->
               <div class="nav__toggle" id="nav-toggle">
                  <i class="ri-apps-2-fill"></i>
               </div>
                        
         </nav>
      </header>


      <main>
         <!--==================== SLIDER MAIN SECTION ====================-->
         <section class="container-slider">
            <div class="slider-wrapper-main">
                <div class="slider-main">
                    <!-- Slide 1 -->
                    <div class="slider-slide">
                        <img id="img1" src="/static/img/slider11.jpg" alt="Exclusive Collection">
                        <div class="slider-content">
                            <h2 class="slider-title">Exclusive Collection</h2>
                            <p class="slider-description">Discover the best styles for every occasion.</p>
                            <a href="/collection" class="slider-button">Shop Now</a>
                        </div>
                    </div>
                    <!-- Slide 2 -->
                    <div class="slider-slide">
                        <img id="img2" src="/static/img/slider3.webp" alt="Trending Footwear">
                        <div class="slider-content">
                            <h2 class="slider-title">Trending Footwear</h2>
                            <p class="slider-description">Step into comfort and style this season.</p>
                            <a href="/trending" class="slider-button">Explore Trends</a>
                        </div>
                    </div>
                    <!-- Slide 3 -->
                    <div class="slider-slide">
                        <img id="img3" src="/static/img/slider1.jpg" alt="Latest Arrivals">
                        <div class="slider-content">
                            <h2 class="slider-title">Latest Arrivals</h2>
                            <p class="slider-description">Don't miss out on our newest styles.</p>
                            <a href="/new-arrivals" class="slider-button">Discover Now</a>
                        </div>
                    </div>
                </div>
                <div class="slider-nav-main">
                    <a href="#img1"></a>
                    <a href="#img2"></a>
                    <a href="#img3"></a>
                </div>
            </div>
        </section>

        <!--==================== BRANDS SLIDER SECTION ====================-->
        <div class="slider-brand">
         <div class="slide-track-brand">
             <div class="slide-brand">
                 <img src="/static/img/logoBiginv.png" alt="Logo">
             </div>
             <div class="slide-brand">
                 <img src="/static/img/nike1.png" alt="Logo">
             </div>
             <div class="slide-brand">
                 <img src="/static/img/adidas1.png" alt="Logo">
             </div>
             <div class="slide-brand">
                 <img src="/static/img/jordan1.avif" alt="Logo">
             </div>
             <div class="slide-brand">
                 <img src="/static/img/kith1.webp" alt="Logo">
             </div>
             <div class="slide-brand">
                 <img src="/static/img/bape1.png" alt="Logo">
             </div>
             <div class="slide-brand">
                 <img src="/static/img/billio1.png" alt="Logo">
             </div>
             <div class="slide-brand">
                 <img src="/static/img/supreme1.png" alt="Logo">
             </div>
             <div class="slide-brand">
                 <img src="/static/img/kobe1.png" alt="Logo">
             </div>
 
 
             <div class="slide-brand">
                 <img src="/static/img/logoBiginv.png" alt="Logo">
             </div>
             <div class="slide-brand">
                 <img src="/static/img/nike1.png" alt="Logo">
             </div>
             <div class="slide-brand">
                 <img src="/static/img/adidas1.png" alt="Logo">
             </div>
             <div class="slide-brand">
                 <img src="/static/img/jordan1.avif" alt="Logo">
             </div>
             <div class="slide-brand">
                 <img src="/static/img/kith1.webp" alt="Logo">
             </div>
             <div class="slide-brand">
                 <img src="/static/img/bape1.png" alt="Logo">
             </div>
             <div class="slide-brand">
                 <img src="/static/img/billio1.png" alt="Logo">
             </div>
             <div class="slide-brand">
                 <img src="/static/img/supreme1.png" alt="Logo">
             </div>
             <div class="slide-brand">
                 <img src="/static/img/kobe1.png" alt="Logo">
             </div>
         </div>
     </div>

     <!--==================== MAIN SECTION ====================-->
     <section class="main-section">
            
      <div class="main-section__links">
         <!-- Choco Merch -->
         <div class="main-card">
            <img src="{% static 'img/shirtback.png' %}" alt="Choco Merch" class="main-card__image">
            <p class="main-card__description">Exclusive merchandise for true Choco fans.</p>
            <a href="#" class="home__button">BUY MERCH</a>
         </div>

         <!-- Buy Shoes -->
         <div class="main-card">
            <img src="{% static 'img/shoeback.png' %}" alt="Buy Shoes" class="main-card__image">
            <p class="main-card__description">Discover the latest and trendiest footwear.</p>
            <a href="#" class="home__button">BUY SHOES</a>
         </div>
      </div>
   </section>

      <!--==================== VIDEO ====================-->
      <section class="video-section">
         <div class="video-container">
             <video autoplay muted loop playsinline class="background-video">
                 <source src="/static/img/videoYT 2.mov" type="video/mp4">
                 Your browser does not support the video tag.
             </video>
             <div class="video-overlay">
                 <a href="https://www.youtube.com/channel/your-channel-link" target="_blank" class="video-button">Watch on YouTube</a>
             </div>
         </div>
     </section>

         <!--==================== HOME ====================-->
         <section class="home">
            <div class="home__container container">
               <div class="home__data">

                  <h1 class="home__title">
                     BEST <br>
                  </h1>
                  <h1 class="home__title two">
                     SELLERS
                  </h1>

                  <p class="home__description">
                     Discover the best-rated shoes in our store, featuring the latest and hottest items everyone is talking about. 
                     Don’t miss out on these top picks that combine style, quality, and popularity!
                  </p>
               </div>

               <div class="home__images">
                  <div class="home__circle"></div>

                  <div class="home__swiper swiper">
                     <div class="swiper-wrapper">
                        <article class="home__article swiper-slide">
                           <img src="{% static 'img/dunk-low.jpg' %}" alt="image" class="home__shoe">
                        </article>

                        <article class="home__article swiper-slide">
                           <img src="{% static 'img/bad-bu.webp' %}" alt="image" class="home__shoe">
                        </article>

                        <article class="home__article swiper-slide">
                           <img src="{% static 'img/shoe-2.png' %}" alt="image" class="home__shoe">
                        </article>
                     </div>
               </div>

               <!-- For pagination -->
                <div class="swiper-pagination"></div>

               <div class="home__social">
                  <a href="https://www.facebook.com/" target="_blank" class="home__social-link">
                     <i class="ri-facebook-circle-fill"></i>
                  </a>

                  <a href="https://www.instagram.com/" target="_blank" class="home__social-link">
                     <i class="ri-instagram-fill"></i>
                  </a>

                  <a href="https://www.youtube.com/" target="_blank" class="home__social-link">
                     <i class="ri-youtube-fill"></i>
                  </a>

               </div>
            </div>
         </section>
      </main>

      <!--==================== BRAND CARDS SECTION ====================-->
      <section class="brand-section">
         <div class="container">
            <h2 class="section-title">Shop by Brands</h2>
            <div class="brand-cards">
               <!-- Nike -->
                <div class="brand-card">
                  <img src="{% static 'img/nikeadd.jpg' %}" alt="Nike" class="brand-card__image">
                  <h3 class="brand-card__title">Nike</h3>
                  <p class="brand-card__description">Explore the latest Nike shoes with innovative designs.</p>
                  <a href="{% url 'products_by_brand' 'Nike' %}" class="brand-card__button">Shop Nike</a>
               </div>
                <!-- Adidas -->
                <div class="brand-card">
                  <img src="{% static 'img/adiadd.webp' %}" alt="Adidas" class="brand-card__image">
                  <h3 class="brand-card__title">Adidas</h3>
                  <p class="brand-card__description">Check out Adidas footwear for all your needs.</p>
                  <a href="{% url 'products_by_brand' 'Adidas' %}" class="brand-card__button">Shop Adidas</a>
               </div>
                  <!-- New Balance -->
                <div class="brand-card">
                  <img src="{% static 'img/newbalance.jpg' %}" alt="New_Balance" class="brand-card__image">
                  <h3 class="brand-card__title">New Balance</h3>
                  <p class="brand-card__description">Discover New Balance shoes, blending comfort and style.</p>
                  <a href="{% url 'products_by_brand' 'New Balance' %}" class="brand-card__button">Shop New Balance</a>
               </div>
            </div>
         </div>
      </section>

      <!--==================== SHOES ====================-->
     
      <section class="product-section">
         <div class="container">
             <h2 class="section-title">Our Shoe Collection</h2>
             <div class="product-grid">
                 {% for product in page_obj %}
                 <div class="product-card" data-id="{{ product.id }}">
                     <a href="{% url 'product_detail' product.id %}">
                         <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                     </a>
                     <h3 class="product-name">{{ product.name }}</h3>
                     <p class="product-price uno" id="price-{{ product.id }}">
                         {% if product.lowest_price %}
                             ${{ product.lowest_price }}
                         {% else %}
                             Price not available
                         {% endif %}
                     </p>
                 </div>
                 {% endfor %}
             </div>
     
             <!-- Pagination Links -->
             <div class="pagination">
                 {% if page_obj.has_previous %}
                 <a href="?page={{ page_obj.previous_page_number }}" class="pagination-link">Previous</a>
                 {% endif %}
     
                 <span class="pagination-current">
                     Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                 </span>
     
                 {% if page_obj.has_next %}
                 <a href="?page={{ page_obj.next_page_number }}" class="pagination-link">Next</a>
                 {% endif %}
             </div>
         </div>
     </section>

<!-- Clothing and Accessories Section -->
<section class="container-categories">
   <div class="category-wrapper">
       <!-- Clothing Card -->
       <div class="category-card-clothing">
           <a href="{% url 'clothing_page'%}">
               <img src="/static/img/kithback.webp" alt="Clothing" class="category-image">
               <div class="category-overlay">
                   <h2 class="category-title hover-title">Shop Now</h2>
               </div>
               <h2 class="category-title default-title">Clothing</h2>
           </a>
       </div>

       <!-- Accessories Card -->
       <div class="category-card-accessories">
           <a href="{% url 'accessories_page'%}">
               <img src="/static/img/accessoriesback.jpg" alt="Accessories" class="category-image">
               <div class="category-overlay">
                   <h2 class="category-title hover-title">Shop Now</h2>
               </div>
               <h2 class="category-title default-title">Accessories</h2>
           </a>
       </div>
   </div>
</section>

       <!--==================== NEWSLETTER ====================-->
       <section class="newsletter">
         <img src="{% static 'img/logoBiginv.png' %}" alt="Newsletter" class="newsletter__img">
         <div class="container">
           <h2 class="newsletter__title">Subscribe to Our Newsletter</h2>
           <p class="newsletter__description">Get the latest updates on new arrivals and special offers.</p>
           <form class="newsletter__form">
             <input type="email" class="newsletter__input" placeholder="Enter your email" required>
             <button type="submit" class="newsletter__button">Subscribe</button>
           </form>
         </div>
       </section>

      <!--==================== FOOTER ====================-->
      <footer class="footer">
         <div class="container">
           <div class="footer__grid">
             <!-- About -->
             <div class="footer__about">
               <h3 class="footer__title">About Us</h3>
               <p class="footer__description">Choco HypeWear is your one-stop shop for premium footwear from top brands.</p>
               <a href="{% url 'login' %}" class="owner-login-link">Staff Login</a>
            </div>
             <!-- Links -->
             <div class="footer__links">
               <h3 class="footer__title">Quick Links</h3>
               <ul class="footer__list">
                 <li><a href="#" class="footer__link">Home</a></li>
                 <li><a href="#" class="footer__link">Shop</a></li>
                 <li><a href="#" class="footer__link">Contact</a></li>
                 <li><a href="#" class="footer__link">FAQs</a></li>
               </ul>
             </div>
             <!-- Social Media -->
             <div class="footer__social">
               <h3 class="footer__title">Follow Us</h3>
               <ul class="footer__social-list">
                 <li><a href="#" class="footer__social-link"><i class="ri-facebook-circle-fill"></i></a></li>
                 <li><a href="#" class="footer__social-link"><i class="ri-instagram-fill"></i></a></li>
                 <li><a href="#" class="footer__social-link"><i class="ri-twitter-fill"></i></a></li>
               </ul>
             </div>
           </div>
           <p class="footer__copyright">&copy; 2024 Choco HypeWear. All rights reserved.</p>
         </div>
       </footer>

      <!--=============== SWIPER JS ===============-->
      <script src="{% static 'js/swiper-bundle.min.js' %}"></script>

      <!--=============== MAIN JS ===============-->
      <script src="{% static 'js/main.js' %}"></script>
   </body>
</html>