<h1>Owner Dashboard</h1>
<a href="{% url 'add_product' %}">Add Product</a>
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Total Stock:</th>
        <th>Actions</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>${{ product.price }}</td>
        <td>{{ product.total_stock }}</td>
        <td>
            <a href="{% url 'edit_product' product.id %}">Edit</a>
            <a href="{% url 'delete_product' product.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>