/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Syncopate:wght@400;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(0, 0%, 5%);
  --black-color-light: hsl(0, 0%, 70%);
  --white-color: hsl(0, 0%, 100%);
  --title-color: hsl(0, 0%, 5%);
  --text-color: hsl(0, 0%, 55%);
  --body-color: hsl(0, 0%, 96%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Syncopate", sans-serif;
  --biggest-font-size: 2.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow .4s;
}
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  width: 15rem;
}
.nav__toggle,

.nav__close{
  display:flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px){
  .nav__menu{
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--body-color);
    box-shadow: -1px 0 16px hsla(0, 0%, 84%, 0.381);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem;
    transition: right .4s;
  }
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link{
  color: var(--title-color);
  font-family: var(--second-font);
}
.nav__link:hover{
  color: rgb(247, 71, 71);
  transform: translateY(-.25rem);
}

.nav__close{
  position: absolute;
  top:1.125rem;
  right: 1.5rem;
}

/* Nav Bar */
.nav__search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 0.8;
  max-width: 500px;
  margin: 0 1rem;
}
.nav__search-input {
  flex: 1;
  padding: 0.5rem 1rem;
  border: 1px solid var(--black-color-light);
  border-radius: 2rem 0 0 2rem;
  font-size: var(--normal-font-size);
}
.nav__search-button {
  padding: 0.5rem 1rem;
  background-color: var(--white-color);
  border: 1px solid var(--black-color-light);
  border-radius: 0 2rem 2rem 0;
  color: var(--black-color);
  cursor: pointer;
  font-size: 1rem;
}

.nav__search-button i {
  font-size: 1.25rem;
}

.nav__search-input:focus,
.nav__search-button:hover {
  border-color: var(--title-color);
  outline: none;
}

@media screen and (max-width: 1023px) {
  .nav__search {
    display: none;
  }
}

/* Desktop Search Bar */
@media screen and (min-width: 1024px) {
  .nav__search {
    display: flex; /* Show desktop search */
  }

  .nav__search-mobile {
    display: none; /* Hide mobile search */
  }
}

/* Mobile Search Bar */
@media screen and (max-width: 1023px) {
  .nav__search-desktop {
    display: none; /* Hide desktop search on smaller screens */
  }

  .nav__search-mobile {
    display: flex; /* Show mobile search inside the menu */
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .nav__search-mobile .nav__search-input {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid var(--black-color-light);
    border-radius: 2rem;
    font-size: var(--normal-font-size);
  }

  .nav__search-mobile .nav__search-button {
    padding: 0.5rem 1rem;
    background-color: var(--white-color);
    border: 1px solid var(--black-color-light);
    border-radius: 2rem;
    color: var(--black-color);
    font-size: 1rem;
    cursor: pointer;
  }

  .nav__search-mobile .nav__search-button:hover {
    background-color: var(--black-color-light);
    color: var(--title-color);
  }
}

/* Show menu */
.show-menu{
  right: 0;
}

/* Add shadow header */
.shadow-header{
  box-shadow: 0 1px 16px hsla(0, 100%, 50%, 0.692);
}

/* cart */
.nav__cart {
  display: flex;
  align-items: center;
  position: relative;
}

.nav__cart a {
  color: var(--title-color);
  font-size: 1.5rem;
  text-decoration: none;
}

.add-to-cart-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  background-color: #ff6347; /* Tomato color */
  color: #fff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-button i {
  margin-right: 5px; /* Space between icon and text */
  font-size: 1.2rem;
}

.add-to-cart-button:hover {
  background-color: #e5533d; /* Darker shade on hover */
}


/*=============== HOME ===============*/
.home__container{
  position: relative;
  display: grid;
  row-gap: 2rem;
  padding-block: 8rem 4rem;
}

.home__subtitle,
.home__title,
.home__button{
  font-family: var(--second-font);
  color: var(--title-color);
}

.home__subtitle{
  font-size: var(--h2-font-size);
  margin-bottom: .5rem;
}

.home__title{
  font-size: var(--biggest-font-size);
  margin-bottom: 1rem;
}
.two {
  color: red
}

.home__description{
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}

.home__button{
  display: inline-block;
  background-color: var(--white-color);
  color: var(--black-color);
  box-shadow: 0 8px 32px hsla(0, 0%, 69%, 0.689);
  padding: 1rem 3rem;
  border-radius: 4rem;
  font-weight: var(--font-bold);
  transition: box-shadow .4s;
}

.home__button:hover{
  box-shadow: 0 8px 32px hsla(0, 100%, 51%, 0.85);
}

.home__social {
  position: absolute;
  top: 10rem;
  right: 0;
  display: grid;
  row-gap: 1rem;
}

.home__social-link{
  display: inline-flex;
  transition: transform .4s;
  font-size: 1.25rem;
  color: var(--title-color);
}

.home__social-link:hover{
  transform: translateY(-.25rem);
}

.home__images{
  display: grid;
  position: relative;
}

.home_shoe{
  width: 300px;
  margin-inline: auto;
}

.home__circle{
  width: 250px;
  height: 250px;
  background: linear-gradient(180deg,
    rgb(175, 41, 41),
    hsl(0, 0%, 100%));
  border-radius: 50%;
  position: absolute;
  inset: 0;
  margin: auto;
}

/* Swiper class */
.swiper{
  margin-inline: initial;
  
}

.swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: -2rem;
}

.swiper-pagination-bullet{
  width: 1rem;
  height: .25rem;
  border-radius: 1rem;
  background-color: var(--black-color-light);
  opacity: 1;
  transition: background-color .3s, width .3s;
}

.swiper-pagination-bullet-active{
  background-color: var(--black-color);
  width: 1.5rem;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  margin: 0 2px;
}

/*=============== SECTION BRAND ===============*/

.brand-section {
  padding: 4rem 0;
  background-color: var(--body-color);
  color: var(--title-color)
}

.section-title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 2rem;
  font-family: var(--second-font);
}

.brand-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}
.brand-card {
  background-color: var(--black-color);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 8px 24px hsla(0, 0%, 10%, 0.3);
  transition: transform .4s ease, box-shadow .4s ease;
}
.brand-card:hover {
  transform: translateY(-.55rem);
  box-shadow: 0 12px 32px hsla(0, 0%, 10%, 0.4)
}
.brand-card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.brand-card__title {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem;
  color: var(--body-color);
  text-align: center;
  font-family: var(--second-font);
}
.brand-card__description {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--body-color);
  padding: 0 1rem;
  margin-bottom: 1rem;
}
.brand-card__button {
  display:block;
  margin: 0 auto 1.5rem;
  padding: 0.5rem 2rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-bold);
  color: var(--black-color);
  background-color: var(--white-color);
  border-radius: 2rem;
  text-transform: uppercase;
  transition: background-color .4s ease, color 0.3s ease;
}
.brand-card__button:hover {
  background-color: rgb(255, 255, 255);
  color: red;
}

/*=============== SHOES ===============*/
/* Product Section */
.product-section {
  padding: 4rem 0;
  color: var(--title-color);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.product-card {
  background-color: var(--body-color);
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 16px hsl(0, 0%, 68%);
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 24px hsla(0, 0%, 10%, 0.4);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-name {
  font-size: 1.25rem;
  color: var(--black-color);
  margin: 1rem 0 0.5rem;
}

.product-price {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.uno{
  color: rgb(4, 4, 4);
}

.show-more-button {
  display: block;
  margin: 2rem auto 0;
  padding: 0.75rem 2rem;
  background-color: var(--white-color);
  color: var(--body-color);
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: var(--font-bold);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.show-more-button:hover {
  background-color: white;
  color: red;
}

.product-card {
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.product-card[style*="display: none"] {
  opacity: 0;
}

/*=============== SHOE SIZE ===============*/
.product-price {
  font-size: 3.2rem;
  font-weight: bold;
  margin: 10px 0;
}
.detalles {
  color: white;
}

select {
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

/*=============== PRODUCT DETAIL ===============*/
.home__container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-block: 8rem 4rem;
  align-items: center;
}

.home__title{
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.one{
  color: red;
}
.four{
  color: white;
}

.product-price {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;}

.home__description {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: var(--title-color)
}

.product-sizes {
  margin-bottom: 1rem;
}

.size-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: rgba(255, 101, 101, 0.66);
}

.size-pill {
  position: relative; /* Positioning for the radio button */
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #f8f8f8; /* Default background */
  border: 1px solid #ccc; /* Default border */
  border-radius: 20px;
  font-size: 1rem;
  color: #333; /* Default text color */
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transitions */
}

.size-pill input {
  position: absolute;
  opacity: 0; /* Fully hide the radio input */
  z-index: -1; /* Remove it from clickable space */
}

.size-pill input:checked + label {
  
  color: #fc0000; /* White text when selected */
  border-color: #007bff; /* Match border with background */
}

.size-pill input:focus + label {
  outline: none; /* Remove focus outline */
}

.size-pill label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Make it fill the pill */
  width: 100%; /* Make it fill the pill */
}

.quantity-container {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
}

.quantity-btn {
  background-color: #ffffff; /* Black buttons */
  color: rgb(255, 0, 0);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.quantity-btn:hover {
  background-color: #ffffff; /* Lighter black when hovered */
}

.quantity-btn:active {
  background-color: #666; /* Even lighter when clicked */
}

.quantity-input {
  width: 50px;
  text-align: center;
  border: none;
  font-size: 1rem;
  color: #333;
}

.add-to-cart-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff1313;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.add-to-cart-button:hover {
  background-color: #ff1313b9;
}

.home_shoe {
  width: 750px;
  margin-inline: auto;
  display: block;
}



.product-size-title,
.product-quantity-title {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--text-color); /* Adjust color if needed */
}

/* Full Background Image */
.product-detail-bg {
  background-image: url("../img/store-background.jpeg"); /* Path to your store background image */
  background-size: cover; /* Ensure the image covers the entire background */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full viewport width */
  display: flex; /* For child elements */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

/* Add a translucent overlay for readability */
.product-detail-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Black overlay with 50% opacity */
  z-index: 0; /* Send it behind the content */
}

/* Adjust layout for smaller screens */
@media (max-width: 768px) {
  .home__container {
    grid-template-columns: 1fr; /* Stack content vertically */
    text-align: center; /* Center-align text content */
    padding-block: 4rem 2rem; /* Reduce padding */
    gap: 2rem; /* Reduce gap */
  }

  .home__data {
    margin: 0 auto;
  }

  .home__images {
    margin: 0 auto;
  }

  .home__title {
    font-size: 1.8rem; /* Adjust font size */
  }

  .product-price {
    font-size: 1.2rem; /* Adjust font size */
  }

  .home__description {
    font-size: 1rem; /* Adjust font size */
  }

  .quantity-container {
    justify-content: center; /* Center-align quantity selector */
  }

  .add-to-cart-button {
    margin: 1rem auto;
  }

  .home_shoe {
    width: 90%; /* Shrink image width */
    margin: 0 auto; /* Center-align image */
  }

  .size-options {
    justify-content: center; /* Center-align size pills */
  }
}

/* Adjust for very small screens (phones) */
@media (max-width: 480px) {
  .home__container {
    padding-block: 2rem 1rem; /* Further reduce padding */
    gap: 1rem; /* Further reduce gap */
  }

  .home__title {
    font-size: 1.5rem; /* Adjust font size */
  }

  .product-price {
    font-size: 1rem; /* Adjust font size */
  }

  .home_shoe {
    width: 100%; /* Make image occupy the full width */
    height: auto; /* Maintain aspect ratio */
  }

  .quantity-container {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically align items */
    justify-content: center; /* Center items horizontally */
    gap: 5px; /* Spacing between buttons and input */
    margin-bottom: 1rem; /* Spacing below the container */
    border: 1px solid #ccc; /* Border for visual separation */
    border-radius: 5px; /* Rounded corners */
    padding: 2px; /* Add padding for better spacing */
    flex-wrap: nowrap; /* Prevent wrapping to vertical */
    background-color: #fff; /* Background color */
  }
  
  .quantity-btn {
    background-color: #ffffff; /* Button background */
    color: rgb(255, 0, 0); /* Button text color */
    border: none; /* Remove border */
    padding: 10px 15px; /* Add padding for touch-friendly buttons */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 1rem; /* Font size for the buttons */
    transition: background-color 0.3s; /* Smooth hover effect */
  }
  
  .quantity-btn:hover {
    background-color: #ffd0d0; /* Lighter background on hover */
  }
  
  .quantity-input {
    width: 20px; /* Fixed width for the input */
    text-align: center; /* Center-align text */
    border: none; /* Remove border */
    font-size: 1rem; /* Font size for the input */
    color: #333; /* Text color */
  }
  
  /* Responsive Fix for Smaller Screens */
  @media screen and (max-width: 320px) {
    .quantity-container {
      gap: 2px; /* Reduce gap on very small screens */
      padding: 2px; /* Reduce padding */
    }
  
    .quantity-btn {
      padding: 8px 10px; /* Adjust button size for smaller screens */
      font-size: 0.9rem; /* Slightly smaller text */
    }
  
    .quantity-input {
      width: 20px; /* Narrow input for smaller screens */
      font-size: 0.9rem; /* Slightly smaller text */
    }
  }

  .quantity-input {
    margin: 0.5rem auto; /* Center the input */
    text-align: center;
  }

  .add-to-cart-button {
    width: 100%; /* Make button full-width */
    margin: 1rem 0; /* Add spacing */
  }
}
/*=============== Newsletter ===============*/
/* Newsletter */
.newsletter {
  color: var(--black-color);
  text-align: center;
  padding: 3rem 1.5rem;
  border-radius: 1rem;
  margin: 2rem auto;
}

.newsletter__img {
  display: block; /* Make the image a block-level element */
  margin: 0 auto 1.5rem; /* Center the image and add spacing below it */
  max-width: 200px; /* Adjust the size */
}

.newsletter__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}

.newsletter__description {
  font-size: var(--normal-font-size);
  margin-bottom: 1.5rem;
}

.newsletter__form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.newsletter__input {
  padding: 0.75rem 1rem;
  width: 70%;
  max-width: 400px;
  border: none;
  border-radius: 2rem;
  font-size: var(--normal-font-size);
}

.newsletter__button {
  padding: 0.75rem 2rem;
  background-color: var(--black-color);
  color: var(--body-color);
  border: none;
  border-radius: 2rem;
  font-size: var(--normal-font-size);
  cursor: pointer;
  font-weight: var(--font-bold);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.newsletter__button:hover {
  background-color: var(--black-color-light);
  color: var(--white-color);
}
/*=============== FOOTER ===============*/

.footer {
  background-color: rgb(231, 49, 49);
  color: var(--black-color);
  padding: 4rem 1.5rem;
  text-align: center;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
  color: var(--body-color);
}

.footer__description {
  font-size: var(--normal-font-size);
  line-height: 1.5;
}

.footer__list {
  list-style: none;
  padding: 0;
}

.footer__link {
  color: var(--black-color-light);
  text-decoration: none;
  display: block;
  margin: 0.5rem 0;
}

.footer__link:hover {
  color: var(--white-color);
}

.footer__social-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.footer__social-link {
  font-size: 1.5rem;
  color: var(--black-color-light);
  transition: color 0.3s;
}

.footer__social-link:hover {
  color: var(--title-color);
}

.footer__copyright {
  font-size: var(--small-font-size);
  color: var(--black-color-light);
}

/*=============== BREAKPOINTS ===============*/

@media screen and (max-width: 768px) {
  .home__container {
    grid-template-columns: 1fr; /* Single column for better stacking */
    padding-block: 4rem 2rem; /* Reduce padding for smaller screens */
    text-align: center; /* Center-align all content */
  }

  .home__data {
    padding: 1rem; /* Add padding to prevent text cutoff */
  }

  .home__title {
    font-size: 1.8rem; /* Smaller font size for titles */
    word-wrap: break-word; /* Ensure title doesn't overflow */
    line-height: 1.2; /* Adjust spacing between lines */
  }

  .two {
    font-size: 1.8rem; /* Match font size for consistent appearance */
    line-height: 1.2;
  }

  .home__description {
    font-size: 1rem; /* Adjust font size for readability */
    margin-bottom: 1.5rem; /* Reduce spacing */
  }

  .home__circle {
    width: 180px; /* Reduce size of the circle */
    height: 180px;
  }

  .home_shoe {
    width: 250px; /* Ensure the shoe fits well */
    margin-inline: auto; /* Center-align the shoe */
  }

  .home__social {
    position: static; /* Move social links to a static position */
    margin-top: 1rem; /* Add margin for spacing */
    display: flex;
    justify-content: center;
    gap: 1rem; /* Space between social links */
  }
}

/* Very Small Devices: Max width 320px */
@media screen and (max-width: 320px) {
  .home__container {
    padding: 2rem 1rem; /* Reduce padding for extra-small screens */
  }

  .home__title {
    font-size: 1.5rem; /* Further reduce font size */
  }

  .home__description {
    font-size: 0.875rem; /* Smaller text size for descriptions */
  }

  .home__circle {
    width: 150px; /* Smaller circle */
    height: 150px;
  }

  .home_shoe {
    width: 200px; /* Adjust shoe image size */
  }

  .home__social {
    flex-direction: column; /* Stack social links vertically */
    row-gap: 1rem; /* Add space between items */
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__menu {
    width: initial;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }

  .home__container {
    height: 100vh;
    grid-template-columns: repeat(2, 400px);
    place-items: center;
    column-gap: 2rem;
  }

  .home__data {
    text-align: left; /* Align left for readability */
  }

  .home__social {
    align-content: center;
    top: 0;
    bottom: 0;
    right: -1rem;
  }

  .home__circle {
    width: 450px; /* Slightly smaller circle */
    height: 450px;
  }

  .home__shoe {
    width: 500px; /* Keep shoe larger */
  }
}

/* For very large devices */
@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }

  .home__container {
    grid-template-columns: 430px 550px; /* Wider layout */
    column-gap: 4.5rem;
  }

  .home__title {
    margin-bottom: 1.25rem;
    font-size: 2.5rem; /* Balanced title size */
  }

  .home__description {
    margin-bottom: 3rem;
    font-size: var(--normal-font-size);
  }

  .home__circle {
    width: 400px; /* Balanced size */
    height: 400px;
  }

  .home__shoe {
    width: 600px;
  }
}

/* For extra-large devices */
@media screen and (min-width: 1400px) {
  .home__container {
    grid-template-columns: 500px 700px; /* Wide layout */
    column-gap: 6rem; /* Increase spacing */
  }

  .home__title {
    font-size: 4rem; /* Larger font */
    margin-bottom: 2rem;
  }

  .home__description {
    font-size: 1.25rem; /* Bigger description font */
    margin-bottom: 3.5rem;
  }

  .home__circle {
    width: 550px; /* Balanced circle size */
    height: 550px;
  }

  .home__shoe {
    width: 850px; /* Larger shoe size */
  }
}